:root {
  --inner-soft-blue: #0016FF;
  --inner-blue: #1730FF;
  --outter-blue: #061EDD;
  --active: #337ab7;
  --metawash-dark-blue: #0A0060;
  --soft-gray: #f1f1f1;
  --hard-gray: #555;
}

body {
  height: 100vh;
}

.sidenav ul li a:hover {
  background-color: var(--active);
  color: #f1f1f1;
}

.sidenav ul li a:active {
  background-color: var(--metawash-dark-blue);
  color: #fff;
}


/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 100%
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--metawash-dark-blue);
  color: white;
  padding: 30px;

}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}